<div class="well" id="answerWell">
  <h8>{{answer.content}}<br> - by {{answer.author}}</h8><br><br>
  {{moment-calendar date referenceDate}}
</div>
{{update-answer answer=answer update="update"}}<br>
