<div class="well" id="answers">
  <div class="well" id="answerWell">
    <h8>{{answer.content}}<br> - by {{answer.author}}</h8>
  </div>
  {{update-answer answer=answer update="update"}}
  <button id="delButton" {{action 'delete' answer}}>Delete Answer</button>
</div>
