<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="well">
          <h2> Answers </h2>
          <ul>
            {{#each question.answers as |answer|}}
              {{answer-tile answer=answer destroyAnswer="destroyAnswer" update="update"}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
