<div class="well" id="multipleAnswers">
  <h2> Answers </h2>
  <ul>
    {{#each sortedAnswers as |answer|}}
      {{answer-tile answer=answer destroyAnswer="destroyAnswer" update="update"}}
    {{/each}}
  </ul>
</div>
