#answerWell{
  background-color: #d1fffa;
}

#navBar{
  background-color: #d1fffa;
  text-align: center;
}

#postBody, #multipleAnswers {
  background-color: #fdedff;
}

#header {
  font-size: 90px;
}

.navLink1{
  display: inline-block;
  margin-right: 100px;
}

.navLink2{
  display: inline-block;
  margin-left: 100px;
}

.jumbotron h1 {
  text-align: center;
  color: blue;
  font-family: 'Luckiest Guy', cursive !important;
}

.jumbotron {
  text-align: center;
  background-color: #fdedff;
  margin-top: 30px;
}

p, h1, h2, h3 ,h4 ,h5, h6, h7, h8, a{
  font-family: 'Cabin', sans-serif;
}

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/564x/11/d3/15/11d31543d2141800d56c09d93e9c44e3.jpg");
}

button {
  border-radius: 10px;
  background-color: #d1fffa;
  border-color: #bababa;
}

ul {
  list-style: none;
  padding: 0;
}
