<div class= "container">
  <header class= "jumbotron">
    <h1 id="header">Q &amp; A Every Day</h1><br>
    <h3>Current Date: {{moment-format date}}</h3>
    <div class="well" id="navBar">
      {{#link-to 'index'}}<h3 class="navLink1">Home</h3>{{/link-to}}
      {{#link-to 'my-favorites'}}<h3 class="navLink2">Favorites</h3>{{/link-to}}
    </div>
  </header>
    {{outlet}}
</div>
