<div class= "container">
  <header class= "jumbotron">
    <h1>Q &amp; A Every Day</h1>
    <div class="well">
      {{#link-to 'index'}}<h3>Home</h3>{{/link-to}}
    </div>
  </header>
    {{outlet}}
</div>
